<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header fs-4">User Profile</div>
        <div class="card-body">
          <form [formGroup]="editEmailForm" (ngSubmit)="editEmail()">
            <div class="form-group">
              <label for="newEmail">New email:</label>
              <input formControlName="newEmail" type="text" id="newEmail" class="form-control">
              <div *ngIf="editEmailForm.get('newEmail')?.hasError('required') && editEmailForm.get('newEmail')?.touched" class="text-danger">
                Email is required
              </div>
              <div *ngIf="editEmailForm.get('newEmail')?.invalid && editEmailForm.get('newEmail')?.touched" class="text-danger">
                Email is incorrect
              </div>
            </div>
            <div class="mt-4">
              <button type="submit" class="btn btn-primary mb-3 me-md-2" [disabled]="editEmailForm.invalid">Edit Data</button>
            </div>
          </form>
          <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <div class="form-group mt-2">
              <label for="oldPassword">Current password:</label>
              <input formControlName="oldPassword" type="password" id="oldPassword" class="form-control">
              <div *ngIf="changePasswordForm.get('oldPassword')?.hasError('required') && changePasswordForm.get('oldPassword')?.touched" class="text-danger">
                Password is required
              </div>
              <label for="newPassword">New password:</label>
              <input formControlName="newPassword" type="password" id="newPassword" class="form-control">
              <div *ngIf="changePasswordForm.get('newPassword')?.hasError('required') && changePasswordForm.get('newPassword')?.touched" class="text-danger">
                Password is required
              </div>
            </div>
            <div class="mt-4">
              <button type="submit" class="btn btn-primary mb-3 me-md-2" [disabled]="changePasswordForm.invalid">Edit Data</button>
            </div>
          </form>
          <button id="openModal" [hidden]="true" data-bs-toggle="modal" data-bs-target="#errorModal">open modal</button>
          <div class="modal fade" id="errorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Info</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <pre>{{modalText}}</pre>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  