<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header fs-4">Register</div>
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-group mb-3">
              <label for="email">Email</label>
              <input type="text" id="email" formControlName="email" class="form-control" placeholder="Enter your email">
              <div *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched" class="text-danger">
                Email is required
              </div>
            </div>
            <div class="form-group mb-3">
              <label for="password">Password</label>
              <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your password">
              <div *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched" class="text-danger">
                Password is required
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Enter your password">
              <div *ngIf="registerForm.hasError('passwordMismatch')" class="text-danger">
                Passwords do not match.
              </div>
            </div>
            <div *ngIf="showAlert" class="alert alert-danger" role="alert">
              Registration failed. Please check your information and try again.
            </div>
            <div class="text-center mb-3">
              <button type="submit" class="btn btn-primary mt-3" [disabled]="registerForm.invalid">Register</button>
            </div>
          </form>
          <p class="text-center">Already have an account? <a routerLink="/login">Login</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-3">
    <button id="openModal1" [hidden]="true" data-bs-toggle="modal" data-bs-target="#errorModal1">open modal</button>
    <div class="modal fade" id="errorModal1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color: black">Info</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <pre style="color: black;">{{modalText}}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>