<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
        <button class="btn btn-light mt-3 mb-4" (click)="goBackToEvent()">
            <i class="fa fa-chevron-left" style="width: 20px;"></i>
            Back
        </button>
            <div class="card">
                <div class="card-header fs-4">Sign up for {{event.title}}</div>
                <div class="card-body p-3">
                    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                        <div class="form-group mb-3">
                            <label for="email">Email</label>
                            <input type="text" id="email" formControlName="email" class="form-control" placeholder="Enter your email">
                            <div *ngIf="signUpForm.get('email')?.hasError('required') && signUpForm.get('email')?.touched" class="text-danger">
                                Email is required
                            </div>
                        </div>
                    </form>
                    <h5>Summary</h5>
                    <ul class="list-group list-group-flush mb-3">
                        <li class="list-group-item">
                            <strong>Title:</strong> {{ event.title }}
                        </li>
                        <li class="list-group-item">
                            <strong>Organiser:</strong> {{ event.organiser }}
                        </li>
                        <li class="list-group-item">
                            <strong>Location:</strong> {{ event.location }}
                        </li>
                        <li class="list-group-item">
                            <strong>Price:</strong> {{ event.price | currency:'PLN':'symbol' }}
                        </li>
                        <li class="list-group-item">
                            <strong>Start Date:</strong> {{ event.startDate | date: 'dd MMM yyyy, HH:mm' }}
                        </li>
                        <li class="list-group-item">
                            <strong>End Date:</strong> {{ event.endDate | date: 'dd MMM yyyy, HH:mm' }}
                        </li>
                    </ul>
                    <div class="text-center p-3">
                        <button class="btn btn-primary" (click)="signUp()" [disabled]="signUpForm.invalid">Sign up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>