<div class="container">
    <button class="btn btn-light mb-3" (click)="goBackToEvent()">
        <i class="fa fa-chevron-left" style="width: 20px;"></i>
        Back
    </button>
    <div class="card p-4">
        <div class="card-header fs-4">Edit an Event</div>
        <div class="card-body">
            <form [formGroup]="editEventForm" (ngSubmit)="publish()">
                <!-- Event Title -->
                <div class="form-group mb-3">
                    <label for="title">Event Title:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="title" formControlName="title" placeholder="Enter event title" required>
                    <div *ngIf="editEventForm.get('title')?.hasError('required') && editEventForm.get('title')?.touched" class="text-danger">
                        Title is required
                    </div>
                </div>
            
                <!-- Event Description -->
                <div class="form-group mb-3">
                    <label for="description">Description:<span class="text-danger">*</span></label>
                    <textarea class="form-control" id="description" formControlName="description" rows="4" placeholder="Enter event description" required></textarea>
                    <div *ngIf="editEventForm.get('description')?.hasError('required') && editEventForm.get('description')?.touched" class="text-danger">
                        Description is required
                    </div>
                </div>
            
                <!-- Event Image -->
                <div class="form-group mb-3">
                    <label for="photo">Event Image:</label>
                    <input type="file" class="form-control-file" id="photo" formControlName="photo">
                </div>
            
                <!-- Event Location -->
                <div class="form-group mb-3">
                    <label for="location">Location:<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="location" formControlName="location" placeholder="Enter event location" required>
                    <div *ngIf="editEventForm.get('location')?.hasError('required') && editEventForm.get('location')?.touched" class="text-danger">
                        Location is required
                    </div>
                </div>
            
                <!-- Is Public Checkbox -->
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="is_public" formControlName="is_public">
                    <label class="form-check-label" for="is_public">Public Event</label>
                </div>
            
                <!-- Price -->
                <div class="form-group mb-3">
                    <label for="price">Price:</label>
                    <div class="input-group">
                        <input type="number" step="0.01" class="form-control col-6" id="price" formControlName="price" placeholder="Enter ticket price">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                    </div>
                </div>
            
                <!-- Capacity -->
                <div class="form-group mb-3">
                    <label for="capacity">Capacity:<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" id="capacity" formControlName="capacity" placeholder="Enter event capacity"  [disabled]="editEventForm.get('is_public')?.value">
                    <div *ngIf="editEventForm.get('capacity')?.hasError('required') && editEventForm.get('capacity')?.touched" class="text-danger">
                        Capacity is required
                    </div>
                </div>
            
                <!-- Registration End Date -->
                <div class="form-group mb-3">
                    <label for="registration_end_date">Registration End Date:<span class="text-danger">*</span></label>
                    <input type="datetime-local" class="form-control" id="registration_end_date" formControlName="registration_end_date">
                    <div *ngIf="editEventForm.get('registration_end_date')?.hasError('required') && editEventForm.get('registration_end_date')?.touched" class="text-danger">
                        Registration End Date is required
                    </div>
                </div>
            
                <!-- Event Start Date -->
                <div class="form-group mb-3">
                    <label for="start_date">Event Start Date:<span class="text-danger">*</span></label>
                    <input type="datetime-local" class="form-control" id="start_date" formControlName="start_date">
                    <div *ngIf="editEventForm.get('start_date')?.hasError('required') && editEventForm.get('start_date')?.touched" class="text-danger">
                        Event Start Date is required
                    </div>
                </div>
            
                <!-- Event End Date -->
                <div class="form-group mb-3">
                    <label for="end_date">Event End Date:<span class="text-danger">*</span></label>
                    <input type="datetime-local" class="form-control" id="end_date" formControlName="end_date">
                    <div *ngIf="editEventForm.get('end_date')?.hasError('required') && editEventForm.get('end_date')?.touched" class="text-danger">
                        Event End Date is required
                    </div>
                </div>
                  
                <!-- Categories -->
                <div class="form-group mb-3">
                    <label for="newCategory">Add Categories<span class="text-danger">*</span></label>
                    <div class="input-group">
                      <input type="text" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Enter category" autocomplete="off" #newCategory>
                        <datalist id="datalistOptions">
                            <option *ngFor="let category of categories" [value]="category"></option>
                        </datalist>    
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button" (click)="addCategory(newCategory.value)">Add</button>
                      </div>
                    </div>
                  </div>
                  <div class="btn-group mb-3">
                    <button *ngFor="let selectedCategory of selectedCategories" type="button" class="btn btn-secondary me-md-2" (click)="removeSelectedCategory(selectedCategory)">
                      {{ selectedCategory }}
                      <i class="fa fa-times"></i>
                    </button>
                </div>

                <!-- Success Modal -->
                <ng-template #successModal let-c="close">
                    <div class="modal-header">
                    <h5 class="modal-title">Success</h5>
                    <button type="button" class="close" (click)="c('Close click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    Event published successfully!
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="c('OK')">OK</button>
                    </div>
                </ng-template>
            
                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-primary mt-3">Save</button>
                </div>
            </form>
            
        </div>
    </div>
</div>