<div class="container">
  <h1 class="my-4">Upcoming Events</h1>
  <!-- Search Bar -->
  <div class="my-4">
    <button type="button" class="btn btn-light btn-lg p-5 mx-3 mb-3 fw-bold" [routerLink]="['/create-event']" [disabled]="!isLoggedIn()">Create an event</button>
  </div>
  <form class="d-flex mb-3" role="search">
    <input class="form-control me-2" type="search" placeholder="Search by title" (input)="filterbyTitle(searchTitle.value)" #searchTitle>
  </form>
  <div class="btn-group flex-wrap">
    <!-- Dropdown Button for Categories Selection -->
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle mb-3 me-2 me-md-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter by Categories
      </button>
      <ul class="dropdown-menu p-2">
        <li *ngFor="let category of categories">
          <label class="form-check-label" style="display: block;" >
            <input type="checkbox" class="form-check-input" [checked]="isCategorySelected(category)" (change)="filterByCategory(category)"> {{ category }}
          </label>
        </li>
      </ul>
    </div>
    <!-- Dropdown Button for Dates Selection -->
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle mb-3 me-2 me-md-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter by Dates
      </button>
      <ul class="dropdown-menu p-2">
        <div class="mb-3">
          <label for="start_date">Start Date:</label>
          <input type="date" id="start_date" class="form-control" #start_date>
        </div>
        <div class="mb-3">
          <label for="end_date">End Date:</label>
          <input type="date" id="end_date" class="form-control" #end_date>
        </div>
        <div>
          <button class="btn btn-primary" (click)="filterByDates(start_date.value, end_date.value)">Filter</button>
        </div>
      </ul>
    </div>
    <!-- Dropdown Button for Accessibility Selection -->
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle mb-3 me-2 me-md-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter by Accessibility
      </button>
      <ul class="dropdown-menu p-2">
        <li *ngFor="let acc of accessibility">
          <label class="form-check-label" style="display: block;" >
            <input type="radio" class="form-check-input" [value]="acc" [checked]="acc === filters.accessibility" (change)="filterByAccessibility(acc)"> {{ acc }}
          </label>
        </li>
      </ul>
    </div>
    <!-- Dropdown Button for Availability Selection -->
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle mb-3 me-2 me-md-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Filter by Availability
        </button>
        <ul class="dropdown-menu p-2">
          <li>
            <label class="form-check-label" style="display: block;">
              <input type="radio" class="form-check-input" (change)="filterByAvailability(false)" [(ngModel)]="availabilityFilter" value="All"> All
            </label>
          </li>
          <li>
            <label class="form-check-label" style="display: block;">
              <input type="radio" class="form-check-input" (change)="filterByAvailability(true)" [(ngModel)]="availabilityFilter" value="Only available"> Only available
            </label>
          </li>
        </ul>
      </div>
      
    <!-- Dropdown Button for Price Selection -->
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle mb-3 me-2 me-md-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter by Price
      </button>
      <ul class="dropdown-menu p-2">
        <div class="mb-3">
          <label for="min_price">Min Price:</label>
          <input type="number" id="min_price" class="form-control" #min_price>
        </div>
        <div class="mb-3">
          <label for="max_price">Max Price:</label>
          <input type="number" id="max_price" class="form-control" #max_price>
        </div>
        <div>
          <button class="btn btn-primary" (click)="filterByPrice(min_price.value, max_price.value)">Filter</button>
        </div>
      </ul>
    </div>
  </div>
  <!-- Clear all filters button -->
  <div class="btn btn-secondary mb-3 me-2 me-md-2" (click)="clearAll()">
    Clear filters
  </div>
  <!-- Selected Filters List -->
  <div id="selectedFilters" *ngIf="(filters?.categories?.length ?? 0) > 0 || (filters?.accessibility?.length ?? 0) > 0 || filters?.start_date || filters?.end_date">
    <div class="btn-group mb-3">
      <button *ngFor="let selectedCategory of filters?.categories" type="button" class="btn btn-secondary me-md-2" (click)="removeSelectedCategory(selectedCategory)">
        {{ selectedCategory }}
        <i class="fa fa-times"></i>
      </button>
      <button type="button" class="btn btn-secondary me-md-2">
        {{ filters.accessibility }}
      </button>
      <div *ngIf="filters?.start_date" class="btn btn-secondary me-md-2" (click)="clearStartDateFilter()">
        Start Date: {{ filters.start_date | date:'dd MMM yy' }}
        <i class="fa fa-times"></i>
      </div>
      <div *ngIf="filters?.end_date" class="btn btn-secondary me-md-2" (click)="clearEndDateFilter()">
        End Date: {{ filters.end_date | date:'dd MMM yy' }}
        <i class="fa fa-times"></i>
      </div>
      <div *ngIf="filters?.only_available" class="btn btn-secondary me-md-2" (click)="clearAvailabilityFilter()">
        Only available
        <i class="fa fa-times"></i>
      </div>
      <div *ngIf="filters?.price_greater_than" class="btn btn-secondary me-md-2" (click)="clearPriceGreaterThanFilter()">
        Price &gt; {{ filters.price_greater_than }}
        <i class="fa fa-times"></i>
      </div>
      <div *ngIf="filters?.price_less_than" class="btn btn-secondary me-md-2" (click)="clearPriceLessThanFilter()">
        Price &lt; {{ filters.price_less_than }}
        <i class="fa fa-times"></i>
      </div>
    </div>
  </div>  

  <!-- Recommended -->
  <div class="row">
    <div class="col-md-6" *ngFor="let event of recommended">
      <div class="d-flex h-100">
      <div class="card mb-4 flex-fill" (click)="onCardClick(event)">
        <img src="{{ event.photo }}" class="card-img-top" alt="{{ event.title }}">
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-star" aria-hidden="true"></i> {{ event.title }}</h5>
          <div class="row">
            <div class="col-md-6">
              <div class="card-text mb-2">
                <i class="fa fa-calendar" style="width: 20px;"></i>
                {{ event.start_date | date:'dd MMM yyyy, HH:mm' }}
              </div>
              <div class="card-text mb-2">
                <i class="fa fa-location-arrow" style="width: 20px;"></i>
                {{ event.location }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-text mb-2" *ngIf="event.price !== undefined && event.price !== null">
                <i class="fa fa-money" style="width: 20px;"></i>
                {{ event.price }}
              </div>
              <div class="card-text mb-2">
                <i class="fa" [ngClass]="{'fa-lock': !event.is_public, 'fa-unlock-alt': event.is_public}" style="width: 20px;"></i>
                {{ event.is_public ? 'Public' : 'Private' }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card-text mb-2">
                <i class="fa fa-tag" style="width: 20px;"></i>
                {{ event.categories?.join(', ') }}
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <!-- Event Cards -->
  <div class="row">
    <div class="col-md-6" *ngFor="let event of events">
      <div class="d-flex h-100">
      <div class="card mb-4 flex-fill" (click)="onCardClick(event)">
        <img src="{{ event.photo }}" class="card-img-top" alt="{{ event.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ event.title }}</h5>
          <div class="row">
            <div class="col-md-6">
              <div class="card-text mb-2">
                <i class="fa fa-calendar" style="width: 20px;"></i>
                {{ event.start_date | date:'dd MMM yyyy, HH:mm' }}
              </div>
              <div class="card-text mb-2">
                <i class="fa fa-location-arrow" style="width: 20px;"></i>
                {{ event.location }}
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-text mb-2" *ngIf="event.price !== undefined && event.price !== null">
                <i class="fa fa-money" style="width: 20px;"></i>
                {{ event.price }}
              </div>
              <div class="card-text mb-2">
                <i class="fa" [ngClass]="{'fa-lock': !event.is_public, 'fa-unlock-alt': event.is_public}" style="width: 20px;"></i>
                {{ event.is_public ? 'Public' : 'Private' }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card-text mb-2">
                <i class="fa fa-tag" style="width: 20px;"></i>
                {{ event.categories?.join(', ') }}
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>